.navbar-brand-img {
    float: left;
    height: 50px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 20px;
}


.navbar-user {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}


.navbar-side {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.navbar-sous-menu {
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;

    
}

.couleurtexte{
    color:palevioletred;
}


.navbar-margin{
    margin-bottom: 0px;
}

.contenu-page{
    margin-top: 20px;
    margin-left: 220px;
}



.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: black;
    transition: all 0.3s;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}